/* ------------------------NOTE: body ---------------------------*/
body {background-color: #f5f5f5}
div.Page{
  margin: 10px 30px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  height:100%;
}
/* ------------------------NOTE: main_content ---------------------------*/
.main_content{
padding: 20px;
}
.main_content .Career, .main_content .Experiences{padding: 30px;}
.main_content .Career img.Pro, .main_content .Experiences img.Exp{
  width: 30px;
  padding: 0;
  margin: 0;
  vertical-align: 0px;
}
.main_content .Career h2, .main_content .Experiences h2{
  display: inline-flex;
  padding: 0;
  margin: 0;
  line-height: 1;
  vertical-align: 5px;
  font-weight: 750;
  color: #35879a;
}
.main_content .Experiences .htmlcss_exp, .main_content .Experiences .htmlcss_exp .header_exp, .main_content .Experiences .htmlcss_exp .right_date {
  margin: 0;
  padding: 0;
}
.main_content .Experiences .htmlcss_exp .header_exp h3{
  font-weight: 700;
  color: #333333;
}
.main_content .Experiences .htmlcss_exp .right_date h4{
  color: #a4aac3;
  font-size: 1rem;
}
/* ------------------------NOTE: right_sidebar ---------------------------*/
.right_sidebar{
  background-color: #42A8C0;
}
/* NOTE: Profile Container */

.right_sidebar .row .profile_container{
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.right_sidebar .row .profile_container img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.right_sidebar .row .profile_container h2.name{
  color:#fff;
  font-weight: 900;
}
.right_sidebar .row .profile_container h3.tagline{
  color:#fff;
  font-weight: 100;
  font-size: 1.9rem;
}
/* NOTE: contacts_container */

.right_sidebar .row .contacts_container {padding: 30px;}
.right_sidebar .row .contacts_container ul.contacts_list li {margin: 5px;}
.right_sidebar .row .contacts_container ul.contacts_list li a{
  color:#fff;
  font-weight: 100;
  font-size: 1.3rem;
  text-decoration: none;
}
.right_sidebar .row .contacts_container ul.contacts_list li img{width: 15px;}

/* NOTE: Education_container */

.right_sidebar .row .Education_container {padding: 30px;}
.right_sidebar .row .Education_container h2{
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 10px;
}
.right_sidebar .row .Education_container ul.Education_list {
  color: #fff;
  margin: 0;
}
.right_sidebar .row .Education_container ul.Education_list li{margin: 5px 0;}
.right_sidebar .row .Education_container ul.Education_list li h4{
  font-size: 1.3rem;
  font-weight: 800;
  margin: 0;
}
.right_sidebar .row .Education_container ul.Education_list li p{
  font-size: 1.2rem;
  font-weight: 50;
  line-height: 150%;
}
